.menuSidebar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 100px;
  transition: all 0.3s ease;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 98;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 13px -2px 27px -12px rgba(41, 50, 66, 0.075);
}

.menuSidebarScroller {
  margin: 0;
  padding: 15px 0;
  background-color: #fff;
  position: relative;
  height: 100%;
}

.menuSidebar.hover {
  width: 250px;
  transition: all 0.3s ease;
}

.menuNav {
  padding: 15px 0;
  margin: 0;
  list-style: none;
}

.menuNavItem {
  position: relative;
  margin: 2px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  float: none;
  padding: 0;
}

.menuNavLink {
  padding: 17px 32px;
  cursor: pointer;
  min-height: 60px;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  margin: 0;
  text-decoration: none;
  position: relative;
  outline: 0;
}

.menuNavIcon {
  width: 40%;
  flex: 0 0 35px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  line-height: 0;
  color: #b8bac3;
}

.menuNavText {
  font-weight: 400;
  font-size: 1rem;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  display: block;
  margin-left: 20px;
}

.menuNavText.hidden {
  display: none;
}

.menuNavItem.active {
  transition: background-color 0.3s;
}

.menuNavItem.active a {
  background-color: #f5f6fc;
}

@media (max-width: 600px) {
  .slide {
    animation: slide 1s forwards;
    animation-delay: 2s;
  }

  @keyframes slide {
    100% {
      left: 0;
    }
  }
}
